@charset "UTF-8";
.ghost-button-blue {
  text-decoration: none !important;
  font-family: "Univia Pro Regular" !important;
  background: #00a1b4 !important;
  color: #fff !important;
  border-color: #00a1b4 !important;
  padding: 10px 21px;
  border: 2px solid;
  margin: 5px 5px 5px 0;
  display: inline-block;
  transition: color 0.4s, background-color 0.4s, border-color 0.4s; }
  .ghost-button-blue span {
    color: #fff !important; }
  .ghost-button-blue:hover {
    color: #00a1b4 !important;
    background: transparent !important; }
    .ghost-button-blue:hover span {
      color: #00a1b4 !important; }
  .ghost-button-blue a {
    text-decoration: none !important;
    font-family: "Univia Pro Regular" !important;
    background: #00a1b4 !important;
    color: #fff !important;
    border-color: #00a1b4 !important;
    padding: 10px 21px;
    border: 2px solid;
    margin: 5px 5px 5px 0;
    display: inline-block;
    transition: color 0.4s, background-color 0.4s, border-color 0.4s; }
    .ghost-button-blue a span {
      color: #fff !important; }
    .ghost-button-blue a:hover {
      color: #00a1b4 !important;
      background: transparent !important; }
      .ghost-button-blue a:hover span {
        color: #00a1b4 !important; }

.ghost-button-green {
  text-decoration: none !important;
  font-family: "Univia Pro Regular" !important;
  background: #b6c628 !important;
  color: #fff !important;
  border-color: #b6c628 !important;
  padding: 10px 21px;
  border: 2px solid;
  margin: 5px 5px 5px 0;
  display: inline-block;
  transition: color 0.4s, background-color 0.4s, border-color 0.4s; }
  .ghost-button-green span {
    color: #fff !important; }
  .ghost-button-green:hover {
    color: #b6c628 !important;
    background: transparent !important; }
    .ghost-button-green:hover span {
      color: #b6c628 !important; }
  .ghost-button-green a {
    text-decoration: none !important;
    font-family: "Univia Pro Regular" !important;
    background: #b6c628 !important;
    color: #fff !important;
    border-color: #b6c628 !important;
    padding: 10px 21px;
    border: 2px solid;
    margin: 5px 5px 5px 0;
    display: inline-block;
    transition: color 0.4s, background-color 0.4s, border-color 0.4s; }
    .ghost-button-green a span {
      color: #fff !important; }
    .ghost-button-green a:hover {
      color: #b6c628 !important;
      background: transparent !important; }
      .ghost-button-green a:hover span {
        color: #b6c628 !important; }

.ghost-button-yellow {
  text-decoration: none !important;
  font-family: "Univia Pro Regular" !important;
  background: #f2b029 !important;
  color: #fff !important;
  border-color: #f2b029 !important;
  padding: 10px 21px;
  border: 2px solid;
  margin: 5px 5px 5px 0;
  display: inline-block;
  transition: color 0.4s, background-color 0.4s, border-color 0.4s; }
  .ghost-button-yellow span {
    color: #fff !important; }
  .ghost-button-yellow:hover {
    color: #f2b029 !important;
    background: transparent !important; }
    .ghost-button-yellow:hover span {
      color: #f2b029 !important; }
  .ghost-button-yellow a {
    text-decoration: none !important;
    font-family: "Univia Pro Regular" !important;
    background: #f2b029 !important;
    color: #fff !important;
    border-color: #f2b029 !important;
    padding: 10px 21px;
    border: 2px solid;
    margin: 5px 5px 5px 0;
    display: inline-block;
    transition: color 0.4s, background-color 0.4s, border-color 0.4s; }
    .ghost-button-yellow a span {
      color: #fff !important; }
    .ghost-button-yellow a:hover {
      color: #f2b029 !important;
      background: transparent !important; }
      .ghost-button-yellow a:hover span {
        color: #f2b029 !important; }

.ghost-button-red {
  text-decoration: none !important;
  font-family: "Univia Pro Regular" !important;
  background: #c05240 !important;
  color: #fff !important;
  border-color: #c05240 !important;
  padding: 10px 21px;
  border: 2px solid;
  margin: 5px 5px 5px 0;
  display: inline-block;
  transition: color 0.4s, background-color 0.4s, border-color 0.4s; }
  .ghost-button-red span {
    color: #fff !important; }
  .ghost-button-red:hover {
    color: #c05240 !important;
    background: transparent !important; }
    .ghost-button-red:hover span {
      color: #c05240 !important; }
  .ghost-button-red a {
    text-decoration: none !important;
    font-family: "Univia Pro Regular" !important;
    background: #c05240 !important;
    color: #fff !important;
    border-color: #c05240 !important;
    padding: 10px 21px;
    border: 2px solid;
    margin: 5px 5px 5px 0;
    display: inline-block;
    transition: color 0.4s, background-color 0.4s, border-color 0.4s; }
    .ghost-button-red a span {
      color: #fff !important; }
    .ghost-button-red a:hover {
      color: #c05240 !important;
      background: transparent !important; }
      .ghost-button-red a:hover span {
        color: #c05240 !important; }

.ghost-button-blue-notfilled {
  text-decoration: none !important;
  font-family: "Univia Pro Regular" !important;
  background: transparent;
  color: #00a1b4 !important;
  padding: 10px 21px;
  border: 2px solid #00a1b4 !important;
  margin: 5px 5px 5px 0;
  display: inline-block;
  transition: color 0.4s, background-color 0.4s, border-color 0.4s; }
  .ghost-button-blue-notfilled span {
    color: #00a1b4 !important; }
  .ghost-button-blue-notfilled:hover {
    border-color: #00a1b4 !important;
    color: #fff !important;
    background: #00a1b4 !important; }
    .ghost-button-blue-notfilled:hover span {
      color: #fff !important; }
  .ghost-button-blue-notfilled a {
    text-decoration: none !important;
    font-family: "Univia Pro Regular" !important;
    background: transparent;
    color: #00a1b4 !important;
    padding: 10px 21px;
    border: 2px solid #00a1b4 !important;
    margin: 5px 5px 5px 0;
    display: inline-block;
    transition: color 0.4s, background-color 0.4s, border-color 0.4s; }
    .ghost-button-blue-notfilled a span {
      color: #00a1b4 !important; }
    .ghost-button-blue-notfilled a:hover {
      border-color: #00a1b4 !important;
      color: #fff !important;
      background: #00a1b4 !important; }
      .ghost-button-blue-notfilled a:hover span {
        color: #fff !important; }

.ghost-button-green-notfilled {
  text-decoration: none !important;
  font-family: "Univia Pro Regular" !important;
  background: transparent;
  color: #b6c628 !important;
  padding: 10px 21px;
  border: 2px solid #b6c628 !important;
  margin: 5px 5px 5px 0;
  display: inline-block;
  transition: color 0.4s, background-color 0.4s, border-color 0.4s; }
  .ghost-button-green-notfilled span {
    color: #b6c628 !important; }
  .ghost-button-green-notfilled:hover {
    border-color: #b6c628 !important;
    color: #fff !important;
    background: #b6c628 !important; }
    .ghost-button-green-notfilled:hover span {
      color: #fff !important; }
  .ghost-button-green-notfilled a {
    text-decoration: none !important;
    font-family: "Univia Pro Regular" !important;
    background: transparent;
    color: #b6c628 !important;
    padding: 10px 21px;
    border: 2px solid #b6c628 !important;
    margin: 5px 5px 5px 0;
    display: inline-block;
    transition: color 0.4s, background-color 0.4s, border-color 0.4s; }
    .ghost-button-green-notfilled a span {
      color: #b6c628 !important; }
    .ghost-button-green-notfilled a:hover {
      border-color: #b6c628 !important;
      color: #fff !important;
      background: #b6c628 !important; }
      .ghost-button-green-notfilled a:hover span {
        color: #fff !important; }

.ghost-button-yellow-notfilled {
  text-decoration: none !important;
  font-family: "Univia Pro Regular" !important;
  background: transparent;
  color: #f2b029 !important;
  padding: 10px 21px;
  border: 2px solid #f2b029 !important;
  margin: 5px 5px 5px 0;
  display: inline-block;
  transition: color 0.4s, background-color 0.4s, border-color 0.4s; }
  .ghost-button-yellow-notfilled span {
    color: #f2b029 !important; }
  .ghost-button-yellow-notfilled:hover {
    border-color: #f2b029 !important;
    color: #fff !important;
    background: #f2b029 !important; }
    .ghost-button-yellow-notfilled:hover span {
      color: #fff !important; }
  .ghost-button-yellow-notfilled a {
    text-decoration: none !important;
    font-family: "Univia Pro Regular" !important;
    background: transparent;
    color: #f2b029 !important;
    padding: 10px 21px;
    border: 2px solid #f2b029 !important;
    margin: 5px 5px 5px 0;
    display: inline-block;
    transition: color 0.4s, background-color 0.4s, border-color 0.4s; }
    .ghost-button-yellow-notfilled a span {
      color: #f2b029 !important; }
    .ghost-button-yellow-notfilled a:hover {
      border-color: #f2b029 !important;
      color: #fff !important;
      background: #f2b029 !important; }
      .ghost-button-yellow-notfilled a:hover span {
        color: #fff !important; }

.ghost-button-red-notfilled {
  text-decoration: none !important;
  font-family: "Univia Pro Regular" !important;
  background: transparent;
  color: #c05240 !important;
  padding: 10px 21px;
  border: 2px solid #c05240 !important;
  margin: 5px 5px 5px 0;
  display: inline-block;
  transition: color 0.4s, background-color 0.4s, border-color 0.4s; }
  .ghost-button-red-notfilled span {
    color: #c05240 !important; }
  .ghost-button-red-notfilled:hover {
    border-color: #c05240 !important;
    color: #fff !important;
    background: #c05240 !important; }
    .ghost-button-red-notfilled:hover span {
      color: #fff !important; }
  .ghost-button-red-notfilled a {
    text-decoration: none !important;
    font-family: "Univia Pro Regular" !important;
    background: transparent;
    color: #c05240 !important;
    padding: 10px 21px;
    border: 2px solid #c05240 !important;
    margin: 5px 5px 5px 0;
    display: inline-block;
    transition: color 0.4s, background-color 0.4s, border-color 0.4s; }
    .ghost-button-red-notfilled a span {
      color: #c05240 !important; }
    .ghost-button-red-notfilled a:hover {
      border-color: #c05240 !important;
      color: #fff !important;
      background: #c05240 !important; }
      .ghost-button-red-notfilled a:hover span {
        color: #fff !important; }

h1 {
  font-family: "Univia Pro Regular" !important; }

h2, h3, h4 {
  font-family: "Univia Pro Bold" !important; }

.btn {
  border: none !important; }

* {
  box-shadow: none !important; }

.navbar.tws-top-menu ul.nav:before {
  content: 'Säsong:';
  width: 100%;
  display: block;
  padding: 7px 15px;
  border-bottom: 1px solid #ebebeb; }
  @media screen and (min-width: 567px) {
    .navbar.tws-top-menu ul.nav:before {
      width: auto;
      display: inline-block;
      border-bottom: 0; } }
.navbar.tws-top-menu ul.nav .dropdown-toggle {
  font-family: "Univia Pro Regular" !important; }
@media screen and (min-width: 567px) {
  .navbar.tws-top-menu ul.nav ul.dropdown-menu {
    border-radius: 0;
    background-color: #111; }
    .navbar.tws-top-menu ul.nav ul.dropdown-menu li.tws-top-menu--sub-item {
      transition: background-color 0.2s; }
      .navbar.tws-top-menu ul.nav ul.dropdown-menu li.tws-top-menu--sub-item a {
        font-weight: 100;
        color: #fff;
        padding: 12px 0;
        border-bottom: 1px solid rgba(250, 250, 250, 0.16);
        margin: 0px 14px; }
        .navbar.tws-top-menu ul.nav ul.dropdown-menu li.tws-top-menu--sub-item a:after {
          border-left-color: #fff; }
      .navbar.tws-top-menu ul.nav ul.dropdown-menu li.tws-top-menu--sub-item:hover {
        background-color: rgba(250, 250, 250, 0.16); }
      .navbar.tws-top-menu ul.nav ul.dropdown-menu li.tws-top-menu--sub-item ul.dropdown-menu {
        border-radius: 0;
        background-color: #111; }
        .navbar.tws-top-menu ul.nav ul.dropdown-menu li.tws-top-menu--sub-item ul.dropdown-menu ul.dropdown-menu {
          border-radius: 0;
          background-color: #111; } }

.bountiful--header .slot--header-shipping-notice {
  background-color: transparent;
  color: #fff; }

.bountiful--main-wrapper {
  padding-top: 0 !important; }

.bountiful--sidebar .bountiful--sidebar-wrapper .bountiful--sidebar-controls {
  border-bottom: 0 !important; }
.bountiful--sidebar .bountiful--sidebar-wrapper .slot--sidebar .tws-vertical-menu-light {
  background-color: #efefef; }
  .bountiful--sidebar .bountiful--sidebar-wrapper .slot--sidebar .tws-vertical-menu-light .tws-vertical-menu-light--title {
    background-color: #efefef; }
  .bountiful--sidebar .bountiful--sidebar-wrapper .slot--sidebar .tws-vertical-menu-light .tws-vertical-menu-light--custom-link a {
    background-color: #efefef; }
  .bountiful--sidebar .bountiful--sidebar-wrapper .slot--sidebar .tws-vertical-menu-light .tws-vertical-menu-light--articlegroup-wrapper a {
    background-color: #efefef; }
.bountiful--sidebar .prisjaktlogo {
  text-align: center; }
.bountiful--sidebar #prisjakt {
  text-align: center;
  font-size: 16px;
  font-family: "Univia Pro Bold" !important; }
  .bountiful--sidebar #prisjakt img {
    display: none; }
  .bountiful--sidebar #prisjakt a {
    text-decoration: none !important;
    font-family: "Univia Pro Regular" !important;
    background: transparent;
    color: #c05240 !important;
    padding: 10px 21px;
    border: 2px solid #c05240 !important;
    margin: 5px 5px 5px 0;
    display: inline-block;
    transition: color 0.4s, background-color 0.4s, border-color 0.4s; }
    .bountiful--sidebar #prisjakt a span {
      color: #c05240 !important; }
    .bountiful--sidebar #prisjakt a:hover {
      border-color: #c05240 !important;
      color: #fff !important;
      background: #c05240 !important; }
      .bountiful--sidebar #prisjakt a:hover span {
        color: #fff !important; }
@media screen and (min-width: 767px) {
  .bountiful--sidebar .tws-container--tws-custom-html:after {
    content: '';
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    margin: 30px 40px -30px 40px; } }

.tws-list--type-grid, .slick-track {
  margin: 0 -15px 0 0; }
  @media screen and (min-width: 567px) {
    .tws-list--type-grid, .slick-track {
      margin: 0 -25px 0 0; } }
  @media screen and (min-width: 992px) {
    .tws-list--type-grid, .slick-track {
      margin: 0 -35px 0 0; } }
  .tws-list--type-grid .tws-list--grid-item, .slick-track .tws-list--grid-item {
    overflow: hidden;
    position: relative;
    margin: 0 !important; }
    .tws-list--type-grid .tws-list--grid-item .thumbnail, .slick-track .tws-list--grid-item .thumbnail {
      box-shadow: none;
      border: none; }
      .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-article-list--labels, .slick-track .tws-list--grid-item .thumbnail .tws-article-list--labels {
        left: unset;
        box-shadow: none;
        transform: rotate(45deg);
        right: -50px;
        top: -10px; }
        @media screen and (min-width: 567px) {
          .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-article-list--labels, .slick-track .tws-list--grid-item .thumbnail .tws-article-list--labels {
            right: -60px;
            top: -25px; } }
        .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-article-list--labels .tws-article-labels--special-offer, .slick-track .tws-list--grid-item .thumbnail .tws-article-list--labels .tws-article-labels--special-offer {
          display: none; }
        .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-article-list--labels .tws-article-labels--new, .slick-track .tws-list--grid-item .thumbnail .tws-article-list--labels .tws-article-labels--new {
          margin: 0; }
          .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-article-list--labels .tws-article-labels--new .tws-article-labels--label-text, .slick-track .tws-list--grid-item .thumbnail .tws-article-list--labels .tws-article-labels--new .tws-article-labels--label-text {
            padding: 13px 40px 10px 40px;
            background-color: #b6c628; }
      .tws-list--type-grid .tws-list--grid-item .thumbnail .caption, .slick-track .tws-list--grid-item .thumbnail .caption {
        padding: 0;
        box-shadow: none;
        position: static; }
        @media screen and (min-width: 567px) {
          .tws-list--type-grid .tws-list--grid-item .thumbnail .caption .tws-util-heading, .slick-track .tws-list--grid-item .thumbnail .caption .tws-util-heading {
            margin-right: 30px; } }
        .tws-list--type-grid .tws-list--grid-item .thumbnail .caption .tws-util-heading .tws-util-heading--heading, .slick-track .tws-list--grid-item .thumbnail .caption .tws-util-heading .tws-util-heading--heading {
          font-size: 1.1rem; }
        .tws-list--type-grid .tws-list--grid-item .thumbnail .caption .tws-article-list--price .tws-api--price-current, .slick-track .tws-list--grid-item .thumbnail .caption .tws-article-list--price .tws-api--price-current {
          color: #b6c628;
          font-family: "Univia Pro Regular" !important;
          font-size: 1.2rem;
          letter-spacing: 0.5px; }
        .tws-list--type-grid .tws-list--grid-item .thumbnail .caption .tws-article-list--buy-button .btn, .slick-track .tws-list--grid-item .thumbnail .caption .tws-article-list--buy-button .btn {
          border-radius: 0; }
          .tws-list--type-grid .tws-list--grid-item .thumbnail .caption .tws-article-list--buy-button .btn:after, .slick-track .tws-list--grid-item .thumbnail .caption .tws-article-list--buy-button .btn:after {
            display: none; }
      .tws-list--type-grid .tws-list--grid-item .thumbnail:focus, .tws-list--type-grid .tws-list--grid-item .thumbnail:hover, .slick-track .tws-list--grid-item .thumbnail:focus, .slick-track .tws-list--grid-item .thumbnail:hover {
        outline: 0;
        box-shadow: none !important; }
    .tws-list--type-grid .tws-list--grid-item:after, .slick-track .tws-list--grid-item:after {
      pointer-events: none;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1;
      transition: background-color 0.12s; }

.tws-list--type-grid .tws-list--grid-item .thumbnail {
  position: relative;
  flex-direction: column-reverse;
  height: auto;
  margin: 10px; }
  @media screen and (min-width: 567px) {
    .tws-list--type-grid .tws-list--grid-item .thumbnail {
      margin: 25px; } }
  .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-articlegroup-list--article-name {
    margin-right: 0; }
    .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-articlegroup-list--article-name .tws-util-heading--heading {
      text-align: left; }
      .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-articlegroup-list--article-name .tws-util-heading--heading a:before {
        display: block;
        content: 'Kategori: ';
        font-size: 0.8rem;
        opacity: 0.5; }
@media screen and (max-width: 991px) {
  .tws-list--type-grid .tws-list--grid-item:nth-child(4n + 2):after, .tws-list--type-grid .tws-list--grid-item:nth-child(4n + 3):after {
    background: rgba(0, 0, 0, 0.08); } }
@media screen and (min-width: 992px) {
  .tws-list--type-grid .tws-list--grid-item:nth-child(8n + 2):after, .tws-list--type-grid .tws-list--grid-item:nth-child(8n + 4):after, .tws-list--type-grid .tws-list--grid-item:nth-child(8n + 5):after, .tws-list--type-grid .tws-list--grid-item:nth-child(8n + 7):after {
    background: rgba(0, 0, 0, 0.08); } }
.tws-list--type-grid .tws-list--grid-item:hover:after {
  background: rgba(0, 0, 0, 0.1); }

.tws-articlegroups .tws-list--type-grid .thumbnail .caption {
  justify-content: flex-start;
  text-align: left; }

.tws-article-list--col-lg-3 .tws-list--type-grid .tws-list--grid-item:after {
  background: transparent !important; }
.tws-article-list--col-lg-3 .tws-list--type-grid .tws-list--grid-item:nth-child(8n + 2):after, .tws-article-list--col-lg-3 .tws-list--type-grid .tws-list--grid-item:nth-child(8n + 4):after, .tws-article-list--col-lg-3 .tws-list--type-grid .tws-list--grid-item:nth-child(8n + 5):after, .tws-article-list--col-lg-3 .tws-list--type-grid .tws-list--grid-item:nth-child(8n + 7):after {
  background: rgba(0, 0, 0, 0.08) !important; }
.tws-article-list--col-lg-3 .tws-list--type-grid .tws-list--grid-item:hover:after {
  background: rgba(0, 0, 0, 0.1) !important; }

@media screen and (max-width: 991px) {
  .slick-track .tws-list--grid-item .slick-slide:nth-child(4n + 2):after, .slick-track .tws-list--grid-item .slick-slide:nth-child(4n + 3):after {
    background: rgba(0, 0, 0, 0.08); } }
@media screen and (min-width: 992px) {
  .slick-track .tws-list--grid-item .slick-slide:nth-child(8n + 2):after, .slick-track .tws-list--grid-item .slick-slide:nth-child(8n + 4):after, .slick-track .tws-list--grid-item .slick-slide:nth-child(8n + 5):after, .slick-track .tws-list--grid-item .slick-slide:nth-child(8n + 7):after {
    background: rgba(0, 0, 0, 0.08); } }
.slick-track .tws-list--grid-item .slick-slide:hover:after {
  background: rgba(0, 0, 0, 0.1); }

.bountiful--article .bountiful--article-left-col .bountiful--article-images {
  overflow: hidden; }
  .bountiful--article .bountiful--article-left-col .bountiful--article-images .slot--article-labels {
    box-shadow: none;
    transform: rotate(-45deg);
    left: -36px;
    top: 3px; }
    .bountiful--article .bountiful--article-left-col .bountiful--article-images .slot--article-labels .tws-article-labels--new {
      margin: 0; }
      .bountiful--article .bountiful--article-left-col .bountiful--article-images .slot--article-labels .tws-article-labels--new .tws-article-labels--label-text {
        padding: 13px 40px 10px 40px;
        background-color: #b6c628; }
    .bountiful--article .bountiful--article-left-col .bountiful--article-images .slot--article-labels .tws-article-labels--special-offer {
      display: none; }
.bountiful--article .tws-article-stock-shipping--wrapper span {
  color: #b6c628;
  font-weight: 600; }
.bountiful--article .tws-article-price .twsPriceCurrent {
  color: #b6c628; }
.bountiful--article .slot--article-stock-shipping .tws-article-stock-shipping--stock-info {
  display: none; }
.bountiful--article .slot--article-choices .form-group {
  width: 100%; }

.tws-article-price .twsPriceRegular {
  text-decoration: none; }
  .tws-article-price .twsPriceRegular:before {
    content: 'ord: '; }

.tws-api--price-current {
  color: #b6c628 !important; }

.alert-warning {
  color: #b6c628 !important; }

.tws-article-list--delivery-info-body {
  color: #b6c628 !important; }

#mfPreviewBar {
  display: none !important; }

.tws-article-buy-button-with-modal--cart-messages {
  display: none !important; }

.service-banner {
  background: url(https://shop.textalk.se/shop/ws16/50016/files/Skyltf%C3%B6nster/Stora/Grupp-wide.jpg);
  background-position: center;
  background-size: cover;
  padding: 95px 70px 95px 59%; }
  @media screen and (max-width: 1070px) {
    .service-banner {
      padding: 0;
      height: 275px;
      background-position: initial; } }
  @media screen and (max-width: 900px) {
    .service-banner {
      background: url(https://shop.textalk.se/shop/ws16/50016/files/Skyltf%C3%B6nster/Stora/gardsman-service-personal.jpg);
      background-position: center top;
      background-size: cover;
      height: 450px; } }
  @media screen and (max-width: 600px) {
    .service-banner {
      height: 275px; } }
  .service-banner .banner-text {
    max-width: 65%; }
    @media screen and (max-width: 1200px) {
      .service-banner .banner-text {
        max-width: 100%; } }
    @media screen and (max-width: 1070px) {
      .service-banner .banner-text {
        position: relative;
        top: 275px;
        background-color: #c3c3c3;
        padding: 25px 40px 50px 45px; } }
    @media screen and (max-width: 900px) {
      .service-banner .banner-text {
        top: 450px; } }
    @media screen and (max-width: 600px) {
      .service-banner .banner-text {
        top: 275px; } }
    .service-banner .banner-text .service-titel {
      font-size: 54px;
      line-height: 56px;
      margin-bottom: 10px;
      color: #fff; }
      @media screen and (max-width: 1070px) {
        .service-banner .banner-text .service-titel {
          font-size: 43px;
          padding-top: 20px; } }
      @media screen and (max-width: 450px) {
        .service-banner .banner-text .service-titel {
          font-size: 33px;
          line-height: 33px; } }
    .service-banner .banner-text .service-ingress {
      font-size: 18px;
      color: #fff; }

.service-content .service-intro {
  width: 50%;
  margin: 80px auto;
  text-align: center; }
  @media screen and (max-width: 1070px) {
    .service-content .service-intro {
      width: 72%;
      margin-top: 360px; } }
  @media screen and (max-width: 900px) {
    .service-content .service-intro {
      width: 100%; } }
  @media screen and (max-width: 750px) {
    .service-content .service-intro {
      margin-top: 450px; } }
  @media screen and (max-width: 450px) {
    .service-content .service-intro {
      width: 100%; } }
  .service-content .service-intro .service-intro-titel {
    font-size: 35px;
    line-height: 35px; }
  .service-content .service-intro .service-intro-ingress {
    font-size: 16px;
    max-width: 55%;
    margin: auto; }
    @media screen and (max-width: 900px) {
      .service-content .service-intro .service-intro-ingress {
        max-width: 71%; } }
    @media screen and (max-width: 450px) {
      .service-content .service-intro .service-intro-ingress {
        max-width: 66%; } }
.service-content .service-kategorier-cont {
  text-align: center; }
  .service-content .service-kategorier-cont .service-kategori {
    display: inline-block;
    margin: 25px;
    width: 260px;
    /* Service kategorierna bilderna */ }
    .service-content .service-kategorier-cont .service-kategori.service-kategori-inner-header {
      height: 215px;
      background-size: cover; }
      .service-content .service-kategorier-cont .service-kategori.service-kategori-inner-header .service-kategori-inner-titel {
        color: #fff;
        font-size: 22px;
        font-weight: 100;
        position: relative;
        font-family: "Univia Pro Bold" !important;
        text-align: left;
        padding: 10px 0 0 25px; }
      .service-content .service-kategorier-cont .service-kategori.service-kategori-inner-header .service-kategori-inner-titel-liten {
        text-align: left;
        padding: 0 0 0 25px;
        position: relative;
        color: #fff;
        font-family: "Univia Pro UltraLight" !important; }
      .service-content .service-kategorier-cont .service-kategori.service-kategori-inner-header .ghost-button {
        position: relative;
        background-color: #fff;
        color: #00a1b4;
        font-size: 19px;
        font-weight: 100;
        padding: 11px 26px;
        border: none;
        margin: 0;
        left: -43px;
        text-decoration: underline; }
    .service-content .service-kategorier-cont .service-kategori#service-robot {
      background-image: url(https://shop.textalk.se/shop/ws16/50016/files/Skyltf%C3%B6nster/Sma/service-bilder/bg/service-robotgrasklippare.jpg); }
    .service-content .service-kategorier-cont .service-kategori#service-handburet {
      background-image: url(https://shop.textalk.se/shop/ws16/50016/files/Skyltf%C3%B6nster/Sma/service-bilder/bg/service-handburet.jpg); }
    .service-content .service-kategorier-cont .service-kategori#service-hjulburet {
      background-image: url(https://shop.textalk.se/shop/ws16/50016/files/Skyltf%C3%B6nster/Sma/service-bilder/bg/service-hjulburet.jpg); }
    .service-content .service-kategorier-cont .service-kategori#service-atv {
      background-image: url(https://shop.textalk.se/shop/ws16/50016/files/Skyltf%C3%B6nster/Sma/service-bilder/bg/service-atv.jpg); }
    .service-content .service-kategorier-cont .service-kategori#service-slapvagnar {
      background-image: url(https://shop.textalk.se/shop/ws16/50016/files/Skyltf%C3%B6nster/Sma/service-bilder/bg/service-slapvagn.jpg); }
    .service-content .service-kategorier-cont .service-kategori#service-ovrigt {
      background-image: url(https://shop.textalk.se/shop/ws16/50016/files/Skyltf%C3%B6nster/Sma/service-bilder/bg/service-ovrigt.jpg); }
    .service-content .service-kategorier-cont .service-kategori .service-kategori-inner-profile {
      text-align: left;
      margin-top: 10px; }
      .service-content .service-kategorier-cont .service-kategori .service-kategori-inner-profile em {
        background: #00a1b4;
        display: block;
        padding: 15px;
        font-size: 16px;
        color: white;
        font-style: normal; }
      .service-content .service-kategorier-cont .service-kategori .service-kategori-inner-profile img.service-bild {
        width: 100%;
        display: block;
        padding-bottom: 12px; }
      .service-content .service-kategorier-cont .service-kategori .service-kategori-inner-profile h3 {
        margin: 5px 0;
        font-size: 25px;
        font-family: "Univia Pro Bold" !important; }
      .service-content .service-kategorier-cont .service-kategori .service-kategori-inner-profile a {
        font-family: "Univia Pro Bold" !important;
        color: #000;
        font-size: 16px; }

/* Service Automower Undersida */
.banner-automower {
  background: url("https://shop.textalk.se/shop/ws16/50016/files/Skyltf%C3%B6nster/Sma/automoer-service-3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .banner-automower .banner-undersida-text {
    color: #fff;
    padding: 140px 25% 75px 5%; }
    .banner-automower .banner-undersida-text .service-automower-titel {
      font-size: 57px;
      line-height: 56px;
      margin-bottom: 10px;
      color: #fff; }
      @media screen and (max-width: 500px) {
        .banner-automower .banner-undersida-text .service-automower-titel {
          font-size: 40px; } }
    .banner-automower .banner-undersida-text .service-automower-ingress {
      font-size: 18px;
      max-width: 550px; }

.service-undersida-content {
  max-width: 1090px;
  margin: auto; }
  @media screen and (min-width: 599px) {
    .service-undersida-content {
      width: 90%; } }
  .service-undersida-content .service-undersida-intro {
    width: 68%;
    padding-right: 30px;
    vertical-align: top;
    margin: 50px auto;
    display: inline-block;
    text-align: left; }
    @media screen and (max-width: 900px) {
      .service-undersida-content .service-undersida-intro {
        width: 59%; } }
    @media screen and (max-width: 767px) {
      .service-undersida-content .service-undersida-intro {
        width: 90%;
        padding-right: 0;
        display: block; } }
    .service-undersida-content .service-undersida-intro .service-undersida-intro-titel {
      font-size: 30px;
      line-height: 31px; }
    .service-undersida-content .service-undersida-intro .service-undersida-intro-ingress {
      font-size: 16px;
      max-width: 450px;
      margin-top: 15px; }
      .service-undersida-content .service-undersida-intro .service-undersida-intro-ingress iframe {
        width: 100%;
        max-width: 350px;
        margin-top: 40px; }
  .service-undersida-content .service-undersida-kategorier-cont {
    text-align: center;
    width: 31%;
    display: inline-block;
    margin-top: -49px;
    color: #fff; }
    @media screen and (max-width: 900px) {
      .service-undersida-content .service-undersida-kategorier-cont {
        width: 40%; } }
    @media screen and (max-width: 767px) {
      .service-undersida-content .service-undersida-kategorier-cont {
        width: 90%;
        margin: auto;
        display: block; } }
    .service-undersida-content .service-undersida-kategorier-cont .service-undersida-kategori {
      display: inline-block;
      width: 100%; }
      .service-undersida-content .service-undersida-kategorier-cont .service-undersida-kategori .service-undersida-kategori-inner-header {
        background-color: #00a1b4; }
        .service-undersida-content .service-undersida-kategorier-cont .service-undersida-kategori .service-undersida-kategori-inner-header .service-undersida-kategori-inner-titel {
          margin: 0;
          text-align: left;
          padding: 15px 15px 15px 20px;
          color: #fff;
          font-family: "Univia Pro Regular" !important; }
      .service-undersida-content .service-undersida-kategorier-cont .service-undersida-kategori .service-undersida-kategori-inner-profile {
        background-color: #d7d7d7;
        text-align: left;
        padding: 40px 45px; }
        .service-undersida-content .service-undersida-kategorier-cont .service-undersida-kategori .service-undersida-kategori-inner-profile h5 {
          font-size: 16px;
          padding-bottom: 5px;
          margin: 0; }
        .service-undersida-content .service-undersida-kategorier-cont .service-undersida-kategori .service-undersida-kategori-inner-profile p {
          font-size: 14px;
          color: #000; }
        .service-undersida-content .service-undersida-kategorier-cont .service-undersida-kategori .service-undersida-kategori-inner-profile img {
          margin: 10px 0; }
        .service-undersida-content .service-undersida-kategorier-cont .service-undersida-kategori .service-undersida-kategori-inner-profile em {
          display: block;
          color: #222;
          font-size: 14px;
          font-style: normal; }
        .service-undersida-content .service-undersida-kategorier-cont .service-undersida-kategori .service-undersida-kategori-inner-profile h3 {
          font-family: "Univia Pro Bold" !important;
          margin: 5px 0; }
        .service-undersida-content .service-undersida-kategorier-cont .service-undersida-kategori .service-undersida-kategori-inner-profile a {
          color: #555;
          word-break: break-all;
          font-family: "Univia Pro Bold" !important; }
  .service-undersida-content .service-automower-tabeller {
    text-align: center; }
    .service-undersida-content .service-automower-tabeller .service-automower-tabeller-h2 {
      margin: 25px 1.5%; }
    .service-undersida-content .service-automower-tabeller div {
      font-size: 0px; }
      .service-undersida-content .service-automower-tabeller div ul {
        overflow: hidden;
        position: relative;
        display: inline-block;
        width: 33%;
        min-width: 200px;
        max-width: 365px;
        margin: -2px;
        padding: 35px;
        font-size: 16px;
        vertical-align: top;
        text-align: left;
        color: #fff;
        /* Individuella skillnader */ }
        @media screen and (max-width: 766px) {
          .service-undersida-content .service-automower-tabeller div ul {
            padding: 15px; } }
        .service-undersida-content .service-automower-tabeller div ul .service-automower-info-titel {
          list-style: none;
          background: #47bffa;
          font-size: 22px;
          color: #fff;
          margin: -35px -35px 20px -35px;
          padding: 35px 35px 25px 35px;
          font-family: "Univia Pro Bold" !important; }
        .service-undersida-content .service-automower-tabeller div ul .service-automower-third-titel, .service-undersida-content .service-automower-tabeller div ul .service-automower-second-titel {
          list-style: none;
          margin: 45px 0 5px 0;
          font-family: "Univia Pro Bold" !important; }
        .service-undersida-content .service-automower-tabeller div ul .service-automower-ingress {
          list-style: none;
          font-family: "Univia Pro UltraLight" !important; }
        .service-undersida-content .service-automower-tabeller div ul .service-automower-checks {
          margin: 15px 10px;
          list-style: none;
          font-family: "Univia Pro UltraLight" !important; }
          .service-undersida-content .service-automower-tabeller div ul .service-automower-checks em {
            display: block;
            padding-left: 24px;
            font-size: 13px;
            color: #efefef; }
          .service-undersida-content .service-automower-tabeller div ul .service-automower-checks:before {
            content: "\2713 ";
            padding-right: 10px;
            font-size: 16px;
            color: #efefef; }
        .service-undersida-content .service-automower-tabeller div ul .service-automower-info {
          margin: 15px 10px;
          list-style: none;
          font-family: "Univia Pro UltraLight" !important; }
          .service-undersida-content .service-automower-tabeller div ul .service-automower-info:before {
            content: "- ";
            padding-right: 10px;
            color: #efefef; }
        .service-undersida-content .service-automower-tabeller div ul .service-automower-pris {
          margin: 15px 10px 15px 0;
          font-family: "Univia Pro Bold" !important;
          font-size: 22px;
          list-style: none; }
        .service-undersida-content .service-automower-tabeller div ul.service-all-inclusive {
          background: #f2b029; }
          @media screen and (max-width: 800px) {
            .service-undersida-content .service-automower-tabeller div ul.service-all-inclusive {
              padding-bottom: 100px; } }
          .service-undersida-content .service-automower-tabeller div ul.service-all-inclusive .service-automower-info-titel {
            background: #f2b029; }
          .service-undersida-content .service-automower-tabeller div ul.service-all-inclusive .erbjudande {
            list-style: none;
            position: absolute;
            bottom: -65px;
            right: -100px; }
            .service-undersida-content .service-automower-tabeller div ul.service-all-inclusive .erbjudande img {
              width: 330px; }
            .service-undersida-content .service-automower-tabeller div ul.service-all-inclusive .erbjudande .push-blob {
              width: 130px;
              left: 0px;
              top: 45px; }
        .service-undersida-content .service-automower-tabeller div ul.service-premium {
          background: #00a1b4; }
          .service-undersida-content .service-automower-tabeller div ul.service-premium .service-automower-info-titel {
            background: #00a1b4; }
        .service-undersida-content .service-automower-tabeller div ul.service-originalservice {
          background: #b6c628; }
          .service-undersida-content .service-automower-tabeller div ul.service-originalservice .service-automower-info-titel {
            background: #b6c628; }
        .service-undersida-content .service-automower-tabeller div ul.service-onlineservice {
          background: #999; }
          .service-undersida-content .service-automower-tabeller div ul.service-onlineservice .service-automower-info-titel {
            background: #888; }
        .service-undersida-content .service-automower-tabeller div ul.service-onlinepremium {
          background: #c05240; }
          .service-undersida-content .service-automower-tabeller div ul.service-onlinepremium .service-automower-info-titel {
            background: #c05240; }
        .service-undersida-content .service-automower-tabeller div ul.service-lightservice {
          background: #bbb; }
          .service-undersida-content .service-automower-tabeller div ul.service-lightservice .service-automower-info-titel {
            background: #aaa; }

/*# sourceMappingURL=gardsman-style.css.map */
