/* nya farger */
h1 {
  font-family: "Univia Pro Regular" !important; }

h2, h3, h4 {
  font-family: "Univia Pro Bold" !important; }

.btn {
  border: none !important; }

.bountiful--main-wrapper {
  padding: 30px 5px 60px 5px !important; }
  @media screen and (min-width: 567px) {
    .bountiful--main-wrapper {
      padding: 30px 15px 60px 15px !important; } }

.tws-list--type-grid, .slick-track {
  margin: 0 -15px 0 0; }
  @media screen and (min-width: 567px) {
    .tws-list--type-grid, .slick-track {
      margin: 0 -25px 0 0; } }
  @media screen and (min-width: 992px) {
    .tws-list--type-grid, .slick-track {
      margin: 0 -35px 0 0; } }
  .tws-list--type-grid .tws-list--grid-item, .slick-track .tws-list--grid-item {
    overflow: hidden;
    position: relative;
    margin: 0 !important; }
    .tws-list--type-grid .tws-list--grid-item .thumbnail, .slick-track .tws-list--grid-item .thumbnail {
      position: relative;
      flex-direction: column-reverse;
      box-shadow: none;
      border: none;
      height: auto;
      margin: 10px;
      /* image */ }
      @media screen and (min-width: 567px) {
        .tws-list--type-grid .tws-list--grid-item .thumbnail, .slick-track .tws-list--grid-item .thumbnail {
          margin: 25px; } }
      .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-article-list--labels, .slick-track .tws-list--grid-item .thumbnail .tws-article-list--labels {
        left: unset;
        box-shadow: none;
        transform: rotate(45deg);
        right: -50px;
        top: -10px; }
        @media screen and (min-width: 567px) {
          .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-article-list--labels, .slick-track .tws-list--grid-item .thumbnail .tws-article-list--labels {
            right: -63px;
            top: -25px; } }
        .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-article-list--labels .tws-article-labels--special-offer, .slick-track .tws-list--grid-item .thumbnail .tws-article-list--labels .tws-article-labels--special-offer {
          display: none; }
        .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-article-list--labels .tws-article-labels--new, .slick-track .tws-list--grid-item .thumbnail .tws-article-list--labels .tws-article-labels--new {
          margin: 0; }
          .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-article-list--labels .tws-article-labels--new .tws-article-labels--label-text, .slick-track .tws-list--grid-item .thumbnail .tws-article-list--labels .tws-article-labels--new .tws-article-labels--label-text {
            padding: 13px 40px 10px 40px;
            background-color: #b6c628; }
      .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-article-list--grid-item-link, .slick-track .tws-list--grid-item .thumbnail .tws-article-list--grid-item-link {
        margin: 15px 0 85px 0; }
        @media screen and (min-width: 567px) {
          .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-article-list--grid-item-link, .slick-track .tws-list--grid-item .thumbnail .tws-article-list--grid-item-link {
            margin: 35px 0 75px 0; } }
      .tws-list--type-grid .tws-list--grid-item .thumbnail .caption, .slick-track .tws-list--grid-item .thumbnail .caption {
        padding: 0;
        box-shadow: none;
        position: static; }
        @media screen and (min-width: 567px) {
          .tws-list--type-grid .tws-list--grid-item .thumbnail .caption .tws-util-heading, .slick-track .tws-list--grid-item .thumbnail .caption .tws-util-heading {
            margin-right: 30px; } }
        .tws-list--type-grid .tws-list--grid-item .thumbnail .caption .tws-util-heading .tws-util-heading--heading, .slick-track .tws-list--grid-item .thumbnail .caption .tws-util-heading .tws-util-heading--heading {
          font-size: 1.1rem; }
        .tws-list--type-grid .tws-list--grid-item .thumbnail .caption .tws-article-list--price, .slick-track .tws-list--grid-item .thumbnail .caption .tws-article-list--price {
          position: absolute;
          bottom: 60px;
          left: 0; }
          .tws-list--type-grid .tws-list--grid-item .thumbnail .caption .tws-article-list--price .tws-api--price-current, .slick-track .tws-list--grid-item .thumbnail .caption .tws-article-list--price .tws-api--price-current {
            color: #b6c628;
            font-family: "Univia Pro Regular" !important;
            font-size: 1.2rem;
            letter-spacing: 0.5px; }
        .tws-list--type-grid .tws-list--grid-item .thumbnail .caption .tws-article-list--delivery-info, .slick-track .tws-list--grid-item .thumbnail .caption .tws-article-list--delivery-info {
          position: absolute;
          bottom: 0px;
          height: 60px;
          right: 0;
          width: 100%;
          font-size: 0.8rem; }
        .tws-list--type-grid .tws-list--grid-item .thumbnail .caption .tws-article-list--buy-button, .slick-track .tws-list--grid-item .thumbnail .caption .tws-article-list--buy-button {
          display: none; }
      .tws-list--type-grid .tws-list--grid-item .thumbnail:focus, .tws-list--type-grid .tws-list--grid-item .thumbnail:hover, .slick-track .tws-list--grid-item .thumbnail:focus, .slick-track .tws-list--grid-item .thumbnail:hover {
        outline: 0;
        box-shadow: none !important; }
    .tws-list--type-grid .tws-list--grid-item:after, .slick-track .tws-list--grid-item:after {
      pointer-events: none;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1; }
    @media screen and (max-width: 991px) {
      .tws-list--type-grid .tws-list--grid-item:nth-child(4n + 2):after, .tws-list--type-grid .tws-list--grid-item:nth-child(4n + 3):after, .slick-track .tws-list--grid-item:nth-child(4n + 2):after, .slick-track .tws-list--grid-item:nth-child(4n + 3):after {
        background: rgba(0, 0, 0, 0.08); } }
    @media screen and (min-width: 992px) {
      .tws-list--type-grid .tws-list--grid-item:nth-child(8n + 2):after, .tws-list--type-grid .tws-list--grid-item:nth-child(8n + 4):after, .tws-list--type-grid .tws-list--grid-item:nth-child(8n + 5):after, .tws-list--type-grid .tws-list--grid-item:nth-child(8n + 7):after, .slick-track .tws-list--grid-item:nth-child(8n + 2):after, .slick-track .tws-list--grid-item:nth-child(8n + 4):after, .slick-track .tws-list--grid-item:nth-child(8n + 5):after, .slick-track .tws-list--grid-item:nth-child(8n + 7):after {
        background: rgba(0, 0, 0, 0.08); } }

.bountiful--article .tws-article-price .twsPriceCurrent {
  color: #b6c628; }

/*# sourceMappingURL=gardsman-style.css.map */
