h1 {
  font-family: "Univia Pro Regular" !important; }

h2, h3, h4 {
  font-family: "Univia Pro Bold" !important; }

.btn {
  border: none !important; }

* {
  box-shadow: none !important; }

.navbar.tws-top-menu ul.nav ul.dropdown-menu {
  border-radius: 0;
  background-color: #111; }
  .navbar.tws-top-menu ul.nav ul.dropdown-menu li.tws-top-menu--sub-item {
    padding: 4px 1px; }
    .navbar.tws-top-menu ul.nav ul.dropdown-menu li.tws-top-menu--sub-item a {
      font-weight: 100;
      color: #fff; }
    .navbar.tws-top-menu ul.nav ul.dropdown-menu li.tws-top-menu--sub-item ul.dropdown-menu {
      border-radius: 0;
      background-color: #111; }
      .navbar.tws-top-menu ul.nav ul.dropdown-menu li.tws-top-menu--sub-item ul.dropdown-menu ul.dropdown-menu {
        border-radius: 0;
        background-color: #111; }

.bountiful--main-wrapper {
  padding-top: 0 !important; }

.bountiful--sidebar .bountiful--sidebar-wrapper .slot--sidebar .tws-vertical-menu-light {
  background-color: #efefef; }
  .bountiful--sidebar .bountiful--sidebar-wrapper .slot--sidebar .tws-vertical-menu-light .tws-vertical-menu-light--title {
    background-color: #efefef; }
  .bountiful--sidebar .bountiful--sidebar-wrapper .slot--sidebar .tws-vertical-menu-light .tws-vertical-menu-light--custom-link a {
    background-color: #efefef; }
  .bountiful--sidebar .bountiful--sidebar-wrapper .slot--sidebar .tws-vertical-menu-light .tws-vertical-menu-light--articlegroup-wrapper a {
    background-color: #efefef; }

.tws-list--type-grid, .slick-track {
  margin: 0 -15px 0 0; }
  @media screen and (min-width: 567px) {
    .tws-list--type-grid, .slick-track {
      margin: 0 -25px 0 0; } }
  @media screen and (min-width: 992px) {
    .tws-list--type-grid, .slick-track {
      margin: 0 -35px 0 0; } }
  .tws-list--type-grid .tws-list--grid-item, .slick-track .tws-list--grid-item {
    overflow: hidden;
    position: relative;
    margin: 0 !important; }
    .tws-list--type-grid .tws-list--grid-item .thumbnail, .slick-track .tws-list--grid-item .thumbnail {
      box-shadow: none;
      border: none; }
      .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-article-list--labels, .slick-track .tws-list--grid-item .thumbnail .tws-article-list--labels {
        left: unset;
        box-shadow: none;
        transform: rotate(45deg);
        right: -50px;
        top: -10px; }
        @media screen and (min-width: 567px) {
          .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-article-list--labels, .slick-track .tws-list--grid-item .thumbnail .tws-article-list--labels {
            right: -50px;
            top: -25px; } }
        .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-article-list--labels .tws-article-labels--special-offer, .slick-track .tws-list--grid-item .thumbnail .tws-article-list--labels .tws-article-labels--special-offer {
          display: none; }
        .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-article-list--labels .tws-article-labels--new, .slick-track .tws-list--grid-item .thumbnail .tws-article-list--labels .tws-article-labels--new {
          margin: 0; }
          .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-article-list--labels .tws-article-labels--new .tws-article-labels--label-text, .slick-track .tws-list--grid-item .thumbnail .tws-article-list--labels .tws-article-labels--new .tws-article-labels--label-text {
            padding: 13px 40px 10px 40px;
            background-color: #b6c628; }
      .tws-list--type-grid .tws-list--grid-item .thumbnail .caption, .slick-track .tws-list--grid-item .thumbnail .caption {
        padding: 0;
        box-shadow: none;
        position: static; }
        @media screen and (min-width: 567px) {
          .tws-list--type-grid .tws-list--grid-item .thumbnail .caption .tws-util-heading, .slick-track .tws-list--grid-item .thumbnail .caption .tws-util-heading {
            margin-right: 30px; } }
        .tws-list--type-grid .tws-list--grid-item .thumbnail .caption .tws-util-heading .tws-util-heading--heading, .slick-track .tws-list--grid-item .thumbnail .caption .tws-util-heading .tws-util-heading--heading {
          font-size: 1.1rem; }
        .tws-list--type-grid .tws-list--grid-item .thumbnail .caption .tws-article-list--price .tws-api--price-current, .slick-track .tws-list--grid-item .thumbnail .caption .tws-article-list--price .tws-api--price-current {
          color: #b6c628;
          font-family: "Univia Pro Regular" !important;
          font-size: 1.2rem;
          letter-spacing: 0.5px; }
        .tws-list--type-grid .tws-list--grid-item .thumbnail .caption .tws-article-list--buy-button, .slick-track .tws-list--grid-item .thumbnail .caption .tws-article-list--buy-button {
          display: none; }
      .tws-list--type-grid .tws-list--grid-item .thumbnail:focus, .tws-list--type-grid .tws-list--grid-item .thumbnail:hover, .slick-track .tws-list--grid-item .thumbnail:focus, .slick-track .tws-list--grid-item .thumbnail:hover {
        outline: 0;
        box-shadow: none !important; }
    .tws-list--type-grid .tws-list--grid-item:after, .slick-track .tws-list--grid-item:after {
      pointer-events: none;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1;
      transition: background-color 0.12s; }

.tws-list--type-grid .tws-list--grid-item .thumbnail {
  position: relative;
  flex-direction: column-reverse;
  height: auto;
  margin: 10px; }
  @media screen and (min-width: 567px) {
    .tws-list--type-grid .tws-list--grid-item .thumbnail {
      margin: 25px; } }
  .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-articlegroup-list--article-name .tws-util-heading--heading a:before {
    display: block;
    content: 'Kategori: ';
    font-size: 0.8rem;
    opacity: 0.5; }
  .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-article-list--grid-item-link {
    margin: 15px 0 85px 0; }
    @media screen and (min-width: 567px) {
      .tws-list--type-grid .tws-list--grid-item .thumbnail .tws-article-list--grid-item-link {
        margin: 35px 0 75px 0; } }
  .tws-list--type-grid .tws-list--grid-item .thumbnail .caption .tws-article-list--price {
    position: absolute;
    bottom: 60px;
    left: 0; }
  .tws-list--type-grid .tws-list--grid-item .thumbnail .caption .tws-article-list--delivery-info {
    position: absolute;
    bottom: 0px;
    height: 60px;
    right: 0;
    width: 100%;
    font-size: 0.8rem; }
@media screen and (max-width: 991px) {
  .tws-list--type-grid .tws-list--grid-item:nth-child(4n + 2):after, .tws-list--type-grid .tws-list--grid-item:nth-child(4n + 3):after {
    background: rgba(0, 0, 0, 0.08); } }
@media screen and (min-width: 992px) {
  .tws-list--type-grid .tws-list--grid-item:nth-child(8n + 2):after, .tws-list--type-grid .tws-list--grid-item:nth-child(8n + 4):after, .tws-list--type-grid .tws-list--grid-item:nth-child(8n + 5):after, .tws-list--type-grid .tws-list--grid-item:nth-child(8n + 7):after {
    background: rgba(0, 0, 0, 0.08); } }
.tws-list--type-grid .tws-list--grid-item:hover:after {
  background: rgba(0, 0, 0, 0.1); }

.tws-article-list--col-lg-3 .tws-list--type-grid .tws-list--grid-item:after {
  background: transparent !important; }
.tws-article-list--col-lg-3 .tws-list--type-grid .tws-list--grid-item:nth-child(8n + 2):after, .tws-article-list--col-lg-3 .tws-list--type-grid .tws-list--grid-item:nth-child(8n + 4):after, .tws-article-list--col-lg-3 .tws-list--type-grid .tws-list--grid-item:nth-child(8n + 5):after, .tws-article-list--col-lg-3 .tws-list--type-grid .tws-list--grid-item:nth-child(8n + 7):after {
  background: rgba(0, 0, 0, 0.08) !important; }
.tws-article-list--col-lg-3 .tws-list--type-grid .tws-list--grid-item:hover:after {
  background: rgba(0, 0, 0, 0.1) !important; }

@media screen and (max-width: 991px) {
  .slick-track .tws-list--grid-item .slick-slide:nth-child(4n + 2):after, .slick-track .tws-list--grid-item .slick-slide:nth-child(4n + 3):after {
    background: rgba(0, 0, 0, 0.08); } }
@media screen and (min-width: 992px) {
  .slick-track .tws-list--grid-item .slick-slide:nth-child(8n + 2):after, .slick-track .tws-list--grid-item .slick-slide:nth-child(8n + 4):after, .slick-track .tws-list--grid-item .slick-slide:nth-child(8n + 5):after, .slick-track .tws-list--grid-item .slick-slide:nth-child(8n + 7):after {
    background: rgba(0, 0, 0, 0.08); } }
.slick-track .tws-list--grid-item .slick-slide:hover:after {
  background: rgba(0, 0, 0, 0.1); }

.bountiful--article .bountiful--article-left-col {
  overflow: hidden; }
  .bountiful--article .bountiful--article-left-col .slot--article-labels {
    box-shadow: none;
    transform: rotate(-45deg);
    left: -36px;
    top: 3px; }
    .bountiful--article .bountiful--article-left-col .slot--article-labels .tws-article-labels--new {
      margin: 0; }
      .bountiful--article .bountiful--article-left-col .slot--article-labels .tws-article-labels--new .tws-article-labels--label-text {
        padding: 13px 40px 10px 40px;
        background-color: #b6c628; }
    .bountiful--article .bountiful--article-left-col .slot--article-labels .tws-article-labels--special-offer {
      display: none; }
.bountiful--article .tws-article-price .twsPriceCurrent {
  color: #b6c628; }
.bountiful--article .slot--article-stock-shipping .tws-article-stock-shipping--stock-info {
  display: none; }
.bountiful--article .slot--article-choices .form-group {
  width: 100%; }

.tws-article-price .twsPriceRegular {
  text-decoration: none; }
  .tws-article-price .twsPriceRegular:before {
    content: 'ord: '; }

.tws-api--price-current {
  color: #b6c628 !important; }

.alert-warning {
  color: #b6c628 !important; }

.tws-article-list--delivery-info-body {
  color: #b6c628 !important; }

#mfPreviewBar {
  display: none !important; }

/*# sourceMappingURL=gardsman-style.css.map */
