@charset "utf-8";
$green: #b6c628;
$yellow: #f2b029;
$red: #c05240;
$blue: #00a1b4;
$lightgreen: #add147;
$lightblue: #47bffa;
$lightyellow: #f5b83a;
$lightgray: #f4f4f4;
$white: #fff;
$black: #111;
$season: #b6c628;

/* nya farger */
$nydarkgreen:#a6b037 ;
$nygreen:#b9c43d ;
$nylightgreen:#d5db85 ;
$nydarkyellow:#cf9f32 ;
$nyyellow:#e1ae3b ;
$nylightyellow:#edce85 ;
$nydarkred:#9c4d3e ;
$nyred:#a85342 ;
$nylightred:#c8958c ;
$nydarkblue:#5298a9 ;
$nyblue:#57a0b1 ;
$nylightblue:#83c5d0 ;


// font-family: 'Univia Pro Regular'
// font-family: 'Univia Pro Medium'
// font-family: 'Univia Pro UltraLight'
// font-family: 'Univia Pro Bold' 

$light: 'Univia Pro UltraLight'!important;
$bold: 'Univia Pro Bold' !important;
$regular: 'Univia Pro Regular'!important;
