@import url("https://use.typekit.net/eyu5aim.css");
body {
  background-color: #fff;
  font-family: urw-din, sans-serif; }

.fw-button-success {
  background-color: #527138 !important;
  transition: transform .3s; }
  .fw-button-success:hover, .fw-button-success:focus {
    transform: scale(0.95); }

#Header .header-icon {
  font-size: 1.8em; }

#imgLogo {
  width: 215px; }

#Page {
  min-height: 100vh; }

#body {
  background-image: url("https://trafikbyranisverige.github.io/roupez/woods-by-france-perles.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; }
  #body #Header {
    background-color: transparent; }
    #body #Header #HeaderContainer {
      background-color: transparent; }
  #body #MainSearch {
    background-color: transparent; }
  #body #MainContainer {
    margin-top: 0;
    padding-top: 20px;
    background-color: rgba(250, 250, 250, 0.88);
    flex-grow: 1; }
    #body #MainContainer h1 {
      font-family: urw-din, sans-serif;
      font-size: 2.9rem;
      font-weight: 700; }
    #body #MainContainer #BreadMenu {
      margin-top: 0; }
    #body #MainContainer #Filters #BuyAllWrapper {
      border-bottom: 0px;
      padding: 0; }
    #body #MainContainer #ProdListHeader {
      padding-bottom: 35px; }
    #body #MainContainer .groupview .group-link {
      background-color: #527138; }
      #body #MainContainer .groupview .group-link .group-title {
        font-size: 1.5rem;
        color: #fff;
        font-family: urw-din, sans-serif; }
    @media screen and (min-width: 1200px) {
      #body #MainContainer .productContainer {
        flex-basis: 25%;
        max-width: 25%; } }
    #body #MainContainer .productContainer .description-wrapper {
      text-align: center; }
      #body #MainContainer .productContainer .description-wrapper .product-name {
        font-size: 1.5rem; }
      #body #MainContainer .productContainer .description-wrapper .product-rating {
        display: none; }
      #body #MainContainer .productContainer .description-wrapper .product-code {
        width: 100%;
        display: block;
        text-align: center; }
    #body #MainContainer .productContainer .price-wrapper {
      padding: 8px 0; }
      #body #MainContainer .productContainer .price-wrapper .label {
        display: none; }
      #body #MainContainer .productContainer .price-wrapper .value {
        font-size: 1.3rem; }
  #body #Footer {
    background-color: rgba(90, 90, 90, 0.5);
    border-color: #555;
    color: #777;
    padding: 50px 125px; }
    #body #Footer a {
      color: #999; }
  #body.page-Start #MainContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: transparent; }
    #body.page-Start #MainContainer .list_info:before {
      content: '';
      background-image: url("https://trafikbyranisverige.github.io/roupez/jf-logo-green.png");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      width: 160px;
      height: 230px;
      display: block;
      margin: auto; }
    #body.page-Start #MainContainer .list_info h2 {
      font-family: urw-din, sans-serif;
      font-size: 3.9rem;
      font-weight: 900;
      color: #333; }
    #body.page-Start #MainContainer .list_info img {
      display: none; }

/*# sourceMappingURL=style.css.map */
