@import url("https://use.typekit.net/eyu5aim.css");
$orange: rgba(237,125,32,1);
$green: rgba(82,113,56,1);

body {
	background-color: #fff;
	font-family: urw-din, sans-serif;
}
#Header .header-icon {
	font-size: 1.8em;
}
#imgLogo {
	width: 215px;
}
#Page {
	min-height: 100vh;
}
#MainContainer {
	flex-grow: 1;
	align-items: center;
    display: flex;
    justify-content: center;
    background-image: url('https://trafikbyranisverige.github.io/roupez/hunting-trip-by-fredrik-ohlander-low-filter.jpg');
    background-position: center center;
    background-size: cover;
    margin-top: 0;
    .list_info {
    	h2 {
    		font-family: urw-din, sans-serif;
    		font-size: 2rem;
    		font-weight: 900;
    		color: #efefef;
    	}
    	img {
    		display: none;
    	}
    }
}