@import url("https://use.typekit.net/eyu5aim.css");
$orange: rgba(237,125,32,1);
$green: rgba(82,113,56,1);

body {
	font-size: 16px;
	background-color: #fff;
	font-family: urw-din, sans-serif;
}
.fw-button-success {
	background-color: $green !important;
	transition: transform .3s;
	&:hover, &:focus {
		transform: scale(.95);
	}
}



#Page {
	min-height: 100vh;
}
#body{
	background-image: url('https://trafikbyranisverige.github.io/roupez/woods-by-france-perles.jpg');
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	#Header {
		#HeaderContainer {
			background-color: rgba(90,90,90,1);
			@media screen and (min-width: 992px) {
				height: 67px;
			}
		}
		.header-icon {
			font-size: 2.4em;
			margin-top: -4px;
			color: #fff;
		}
		#HeaderMenuText {
			visibility: visible;
			opacity: 1;
			left: 5px;
			color: #fff;
		}
		#OpenCartText {
			visibility: visible;
			opacity: 1;
			right: 5px;
			color: #fff;
		}
		#imgLogo {
			width: 215px;
			@media screen and (min-width: 992px) {
				width: 280px;
			}
		}
	}
	#MainSearch {
		background-color: rgba(250,250,250,.5);
		#SearchContent{
			flex-direction: row-reverse;
			#SearchTxt_txtField {
				text-align: right;
			}
		}
	}
	#MainContainer {
		margin-top: 0;
		padding-top: 20px;
		background-color: rgba(250,250,250,0.88);
		flex-grow: 1;
		
		h1 {
			font-family: urw-din, sans-serif;
    		font-size: 2.6rem;
    		font-weight: 700;
		}
		
		#BreadMenu {
			margin-top: 0;
		}
		#Filters {
			#BuyAllWrapper {
				border-bottom: 0px;
				padding: 0;
			}
		}
		#ProdListHeader {
			padding-bottom: 35px;
		}
		.groupview {
			.group-link {
				background-color: $green;
				.group-title {
					font-size: 1.5rem;
					color: #fff;
					font-family: urw-din, sans-serif;
				}
			}
		}
		.productContainer  {
			@media screen and (min-width: 1200px) {
				flex-basis: 25%;
				max-width: 25%;
			}
			.inner {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.info-wrapper {
					display: flex;
					// height: 100%;
					flex-direction: column;
					justify-content: space-between;
					.description-wrapper {
						text-align: center;
						.product-name {
							font-size: 1.5rem;
						}
						.product-rating {
							display: none;
						}
						.product-code {
							width: 100%;
							display: block;
							text-align: center;
						}
					}
				}
			}
			
			.price-wrapper {
				padding: 8px 0;
				.label {
					display: none;
				}
				.value {
					font-size: 1.3rem;
				}
			}
		}
		#ProductWrapper {
			.product-images {
				padding-top: 30px;
			}
			#RatingSummary {
				display: none;
			}
			#InnerSlider {
				justify-content: center;
			}
		}
	}
	#Footer {
		background-color: rgba(90,90,90,1);
		border-color: #555;
		color: #fff;
		padding: 50px 125px;
		a {
			color: #fff;
		}
	}
	&.page-Start{
		#MainContainer {
			align-items: center;
		    display: flex;
		    justify-content: center;
			background-color: transparent;
		    .list_info {
		    	&:before {
					content: '';
					background-image: url('https://trafikbyranisverige.github.io/roupez/jf-logo-green.png');
					background-size: contain;
					background-position: center center;
					background-repeat: no-repeat;
					width: 160px;
					height: 230px;
					display: block;
					margin: auto;
		    	}
		    	h2 {
		    		font-family: urw-din, sans-serif;
		    		font-size: 3.9rem;
		    		font-weight: 900;
		    		color: #333;
		    	}
		    	// remove this when the img on front page is replaced 
		    	img {
		    		display: none;
		    	}
		    }
		}
	}
}
.page-Prodlist {

}

